//- переменные

-
 var advantagesItems = [
   {
     icon: "img/icons/icon1-normal.svg",
     titleGreen: "HDR",
     titleWhite: "display",
     text: "Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах."
   },
   {
     icon: "img/icons/icon2-normal.svg",
     titleGreen: "input",
     titleWhite: "lag",
     text: "Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров."
   },
   {
     icon: "img/icons/icon3-normal.svg",
     titleGreen: "high refresh",
     titleWhite: "rate",
     text: "NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц."
   },
   {
     icon: "img/icons/icon4-normal.svg",
     titleGreen: "wide color",
     titleWhite: "gamut",
     text: "Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами."
   },
 ];
