header.header
  .container
    .container_header
      .header-wrapper
          a(href='#').logo
            img(src='img/logo.svg').logo-img
          img(src='img/icons/menu.svg' id='burger').burger-menu

      .navigation-wrapper#navigation-wrapper
          nav.navigation
              ul.navigation__list
                  li.navigation__list-item
                      a(href='#').navigation__link Продукты
                  li.navigation__list-item
                      a(href='#').navigation__link Технологии
                  li.navigation__list-item
                      a(href='#').navigation__link Experience

          ul.social-media
              li.social-media__item
                a(href='https://twitter.com/').social-media__link.social-media__link-twitter
              li.social-media__item
                  a(href='https://www.instagram.com/' target="blank").social-media__link.social-media__link-instagram
