.advantages {
  background-image: url("/img/bg.jpg");
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 62px;

  &-wrapper {
    @include flex-column;
    padding: 0 15px;
  }
}

.description {
  @include flex-column;
}

.description__title {
  @include title;
  color: $white;
  text-align: center;
  max-width: 240px;
}

.description__text {
  @include text;
  color: $white;
  padding-top: 20px;
  text-align: center;
  max-width: 675px;
}

.advantages-list {
  list-style-type: none;
  @include flex-column;
  padding: 50px 0;

  &-item {
    padding-top: 118px;
    max-width: 395px;
    padding-bottom: 50px;
  }

  &-item:last-child {
    padding-bottom: 0;
  }
}

.advantages__subtitle {
  @include title;
  text-align: center;
  &_green {
    color: $nvidia-green;
    font-weight: bold;
  }
  &_white {
    color: $white;
    font-weight: normal;
  }
}

.advantages__text {
  @include text;
  color: $gray-310;
  padding-top: 12px;
}

.advantages__icon-1 {
  background-image: url("/img/icons/icon1-normal.svg");
}

.advantages__icon-1:hover,
.advantages__icon-1:focus {
  background-image: url("/img/icons/icon1-hover.svg");
}

.advantages__icon-2 {
  background-image: url("/img/icons/icon2-normal.svg");
}

.advantages__icon-2:hover,
.advantages__icon-2:focus {
  background-image: url("/img/icons/icon2-hover.svg");
}

.advantages__icon-3 {
  background-image: url("/img/icons/icon3-normal.svg");
}

.advantages__icon-3:hover,
.advantages__icon-3:focus {
  background-image: url("/img/icons/icon3-hover.svg");
}

.advantages__icon-4 {
  background-image: url("/img/icons/icon4-normal.svg");
}

.advantages__icon-4:hover,
.advantages__icon-4:focus {
  background-image: url("/img/icons/icon4-hover.svg");
}

.advantages__icon-1,
.advantages__icon-2,
.advantages__icon-3,
.advantages__icon-4 {
  background-position: center top;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
}

.advantages__button {
  padding: 15px 107px;
  @include button;
}

@media all and (min-width: 450px) {
  .advantages-wrapper {
    padding: 0 30px;
  }
}

@media all and (min-width: 769px) {
  .advantages {
    padding: 65px 0 125px;
  }

  .description__title {
    max-width: none;
  }

  .description__text {
    max-width: 730px;
  }

  .advantages-list {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &-item {
      max-width: 255px;
      padding-bottom: 0;

      &:first-child,
      &:nth-child(3n) {
        margin-right: 30px;
      }
    }
  }

  .advantages__subtitle {
    text-align: left;
  }

  .advantages__button {
    padding: 15px 58px;
  }
}

@media all and (min-width: 885px) {
  .advantages-list {
    &-item {
      &:first-child,
      &:nth-child(2n) {
        margin-right: 30px;
      }

      &:nth-child(3n),
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

@media all and (min-width: 1145px) {
  .advantages {
    background-position: bottom right;
    background-size: contain;
  }

  .advantages-wrapper {
    padding: 0;
  }

  .advantages-list {
    &-item {
      &:first-child,
      &:nth-child(2n),
      &:nth-child(3n) {
        margin-right: 30px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
