mixin list(values)
  ul(class!=attributes.class).advantages-list
    each val in values
      li(class= `advantages-list-item ${val.className}`)
          h2.advantages__subtitle
              span.advantages__subtitle_green= val.titleGreen
              |&#32;
              span.advantages__subtitle_white= val.titleWhite
          p.advantages__text= val.text
