h1 Преимущества G-SYNC

p Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

+list(advantagesItems)(class='advanage')

//- svg(class="icon"  xmlns="http://www.w3.org/2000/svg" width="160" height="90")
//-     use(href="img/icons/sprite.svg?10#icon1" width="160" height="90")

a(href='#helloModal' data-toggle="modal") Купить
