section.advantages
 .container.advantages-wrapper
    .description
        h1.description__title Преимущества G&#8209;SYNC

        p.description__text Каждый монитор с технологией G&#8209;SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G&#8209;SYNC.


    +list(advantagesItems)

    //- svg(class="icon"  xmlns="http://www.w3.org/2000/svg" width="160" height="90")
    //-     use(href="img/icons/sprite.svg?10#icon1" width="160" height="90")

    a(href='#helloModal' data-toggle="modal").advantages__button Купить
