section.advantages
 .container.advantages-wrapper
    .description
        h1.description__title Преимущества G&#8209;SYNC

        p.description__text Каждый монитор с технологией G&#8209;SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G&#8209;SYNC.

    +list(advantagesItems)

    a(href='#helloModal' data-toggle="modal").advantages__button Купить
