#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='buyModalLabel' aria-hidden='true')
  .modal-dialog(role='document').modal-dialog-centered
    .modal-content
      .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close').modal-close-btn
          //- span(aria-hidden='true') &times;
      .modal-body
         h5#buyModalLabel.modal-title Преимущества G&#8209;SYNC

         form(action="#" method="post").modal-form
           input(type="text" placeholder="Имя").modal-textarea
           input(type="email" placeholder="Mail").modal-textarea
           button.btn.btn-secondary(type='submit' data-dismiss='modal').modal-submit-btn Купить
