@mixin text {
  font: {
    family: Roboto;
    style: normal;
    weight: normal;
    size: 16px;
  }
  line-height: 28px;
  letter-spacing: 0.3px;
}

@mixin title {
  font: {
    family: "Play", sans-serif;
    style: normal;
    size: 26px;
  }
  letter-spacing: 0.25px;
  line-height: 36px;
  text-transform: uppercase;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
