.header {
  background-color: $black;
}

ul {
  margin: 0;
}
.logo {
  padding-top: 11px;

  &-img {
    width: 45px;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding-right: 0;
  padding-left: 15px;
}

.burger-menu_active {
  background-color: $nvidia-green;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
  position: absolute;
  background-color: $black;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.navigation-wrapper_opened {
  height: calc(100vh - 56px);
}

.navigation {
  margin-top: 16px;
}

.navigation__list {
  list-style-type: none;
  padding: 0 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $nvidia-green;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 12px;
  margin-bottom: 43px;

  &__link {
    display: block;
    width: 48px;
    height: 48px;

    &-twitter {
      background-image: url("/img/icons/icons-tw.svg");

      &:hover,
      &:focus {
        background-image: url("/img/icons/icons-tw-hover.svg");
      }
    }

    &-instagram {
      background-image: url("/img/icons/icons-inst.svg");

      &:hover,
      &:focus {
        background-image: url("/img/icons/icons-inst-hover.svg");
      }
    }
  }
}

@media all and (min-width: 450px) {
  .header-wrapper {
    padding: 10px 15px 0 30px;
  }

  .logo-img {
    width: 60px;
  }

  .burger-menu {
    width: 60px;
  }
}

@media all and (min-width: 769px) {
  .header {
    padding: 15px;
    display: flex;
    flex-direction: row;
  }

  .container_header {
    display: flex;
    align-items: center;
  }

  .header-wrapper {
    display: block;
  }

  .logo {
    padding-top: 15px;

    &-img {
      width: 81px;
    }
  }

  .burger-menu {
    display: none;
  }

  .navigation-wrapper {
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: initial;
  }

  .navigation {
    margin-top: 0;
  }

  .navigation__list {
    flex-direction: row;
    gap: 48px;
    padding: 0 38px;
  }

  .social-media {
    margin-bottom: 0;
  }
}
